<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h2>Управление персональными данными</h2><br>
        </div>
        <div class="col-2">

        </div>
    </div>
    <br>

    <div>
        <form id="profileForm" >
            <input type="number" th:value="${user.id}" id="user-id" hidden>
            <div class="form-group">
                <label for="exampleInputEmail1">Email адрес</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Эмейл адрес" aria-describedby="emailHelp" th:value="${user.email}">
                <small id="emailHelp" class="form-text text-muted">Мы никогда не будем делиться вашей электронной почтой с кем-либо еще.</small>
            </div>

            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" class="form-control" id="login" th:value="${user.username}">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите заново пароль">
                <input type="text" class="form-control" id="updatedAt" th:value="${user.updatedAt}" hidden>
                <input type="text" class="form-control" id="createdAt" th:value="${user.createdAt}" hidden>
            </div>

            <div class="form-group">
                <label>Баланс</label>
                <div class="input-group-append">
                    <input type="text" class="form-control" readonly
                           placeholder="Баланс" id="prof_balance" th:value="${user.balance}">
                    <span class="input-group-text">сом</span>
                </div>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="bi bi-broadcast-pin"></i> Адрес
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="number" id="address_id" hidden
                                       th:value="${user.addressModel ne null && user.addressModel.id != null ? user.addressModel.id : ''}">

                                <label for="address_town">Город</label>
                                <input type="text" class="form-control" id="address_town"
                                       th:value="${user.addressModel ne null && user.addressModel.town != null ? user.addressModel.town : ''}">
                            </div>

                            <div class="form-group">
                                <label for="address_street">Улица</label>
                                <input type="text" class="form-control" id="address_street"
                                       th:value="${user.addressModel ne null && user.addressModel.street != null ? user.addressModel.street : ''}">
                            </div>

                            <div class="form-group">
                                <label for="address_houseNumber">Номер дома</label>
                                <input type="text" class="form-control" id="address_houseNumber"
                                       th:value="${user.addressModel ne null && user.addressModel.houseNumber != null ? user.addressModel.houseNumber : ''}">
                            </div>

                            <div class="form-group">
                                <label for="address_houseType">Тип дома</label>
                                <input type="text" class="form-control" id="address_houseType"
                                       th:value="${user.addressModel ne null && user.addressModel.houseType != null ? user.addressModel.houseType : ''}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="bi bi-credit-card"></i> Кредитная карта
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="card_id" hidden
                                       th:value="${user.creditCardModel ne null && user.creditCardModel.id ne null ?
                                       user.creditCardModel.id : ''}">

                                <label for="card_number">Номер карты</label>
                                <input type="text" class="form-control" id="card_number"
                                       th:value="${user.creditCardModel ne null && user.creditCardModel.cardNumber ne null ?
                                       user.creditCardModel.cardNumber : ''}">
                            </div>

                            <div class="form-group">
                                <label for="card_expiryDate">Срок истечения карты</label>
                                <input type="date" class="form-control" id="card_expiryDate"
                                       th:value="${user.creditCardModel ne null && user.creditCardModel.expiryDate ne null ?
                                       user.creditCardModel.expiryDate : ''}">
                            </div>

                            <div class="form-group">
                                <label for="card_cvc">Cvc Cvv</label>
                                <input type="text" class="form-control" id="card_cvc"
                                       th:value="${user.creditCardModel ne null && user.creditCardModel.expiryDate ne null ?
                                       user.creditCardModel.expiryDate : ''}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="bi bi-telephone-inbound-fill"></i> Номер телефона
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <table id="phones-table" class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr data-th-each="phone : ${user.phoneModels}" >
                                        <td data-th-text="${phone.number}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" id="newUserNumber" placeholder="Введите новый номер">
            <button type="button" class="btn btn-success" onclick="addNewNumber()">Добавить новый номер</button>

            <button type="submit" class="btn btn-primary" onclick="updateProfile()">Изменить</button>
        </form>
    </div>
</div>