<div class="container-fluid">
    <div class="col-md-12">
        <form id="searchUserForm" th:object="${userFilterPattern}" method="post"><br>
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Имя или email" th:field="*{usernameOrEmail}">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Город" th:field="*{town}">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Номер телефона" th:field="*{phoneNumber}">
                </div>
                <br><br>
                <div class="col-4">
                    <button id="reloadUserFilterButton" class="btn btn-primary" style="margin-top: 30px;">Фильтровать</button>
                </div>
                <div class="col-4">

                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col-9">
            <h2>Список всех пользователей</h2><br>
        </div>
        <div class="col-3">
            <button data-toggle="modal" data-target="#userAddForm" class="btn btn-success">Добавить пользователя</button>
        </div>
    </div>

    <table id="users-table" class="table table-hover table-bordered" data-order='[[0, "desc"]]'>
        <thead>
        <tr>
            <th>Имя</th>
            <th>email</th>
            <th>Баланс</th>
            <th>Город</th>
            <th>Номер телефона</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div>
        <div id="userAddForm" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addUserModalLabel">Добавление пользователя</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="container modal-body">
                        <div class="form-group ">
                            <label for="username">Имя пользователя:</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>

                        <div class="form-group ">
                            <label for="mail">Mail:</label>
                            <input type="text" class="form-control" id="mail" name="mail">
                        </div>

                        <div class="form-group ">
                            <label for="password">Пароль:</label>
                            <input type="text" class="form-control" id="password" name="password">
                        </div>

                        <div class="form-group ">
                            <label for="balance">Баланс:</label>
                            <input type="text" class="form-control" id="balance" name="balance">
                        </div>

                        <div>
                            <p style="color: black">Роль</p>
                            <select id="selectedRoles" multiple required size="3">
                                <div th:each="role : ${AllRoles}">
                                    <option th:text="${role.getName()}" th:value="${role.getId()}"></option>
                                </div>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-success" onclick="addNewUserForm()">Добавить</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="userEditForm" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel">Редактирование пользователя</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="container modal-body">
                        <div class="form-group ">
                            <label for="idUserEdit">Id пользователя:</label>
                            <input disabled type="text" class="form-control" id="idUserEdit" name="idUserEdit">
                        </div>

                        <div class="form-group ">
                            <label for="usernameEdit">Имя пользователя:</label>
                            <input type="text" class="form-control" id="usernameEdit" name="usernameEdit">
                        </div>

                        <div class="form-group ">
                            <label for="mailEdit">Mail:</label>
                            <input type="text" class="form-control" id="mailEdit" name="mailEdit">
                        </div>

                        <div class="form-group ">
                            <label for="balanceEdit">Баланс:</label>
                            <input type="text" class="form-control" id="balanceEdit" name="balanceEdit">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-success" id="editUserButton">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>